.element {
  &__wrapper {
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 64px;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 1500px) {
      padding: 48px;
    }

    @media only screen and (max-width: 1250px) {
      padding: 32px;
    }

    @media only screen and (max-width: 420px) {
      padding: 12px;
    }
  }

  &__title {
    font-size: 1.7875rem;
    margin-bottom: 0.5rem;
    @media only screen and (max-width: 1600px) {
      font-size: 1.5rem;
    }

    @media only screen and (max-width: 1500px) {
      font-size: 1.2rem;
    }

    @media only screen and (max-width: 1250px) {
      font-size: 1rem;
    }

    @media only screen and (max-width: 420px) {
      margin-bottom: 1rem;
      font-size: 2rem;
      font-weight: 900;
    }

    @media only screen and (max-width: 320px) {
      font-size: 1.7rem;
    }
  }

  &__text {
    font-size: 1rem;
    line-height: 2;
    color: #000;

    @media only screen and (max-width: 1500px) {
      line-height: 1.5;
    }

    @media only screen and (max-width: 1250px) {
      line-height: 1.2;
    }

    @media only screen and (max-width: 1024px) {
      line-height: 1.1;
    }

    @media only screen and (max-width: 420px) {
      margin-bottom: 1rem;
      line-height: 1;
      font-size: 1.5rem;
    }

    @media only screen and (max-width: 320px) {
      margin-bottom: 0.2rem;
      line-height: 1;
      font-size: 1.2rem;
    }
  }

  &__button {
    margin: 2rem 2rem 0 2rem;
    padding: 0.5rem 0 0.5rem 0;
    border: #331c14 1px solid;
    background: linear-gradient(to right, white 50%, #6a3a29 50%) left;
    background-size: 200%;
    transition: .2s ease-out;
    user-select: none;

    @media only screen and (max-width: 1500px) {
      font-size: 0.8rem;
      margin-top: 1rem;
      margin-left: 0rem;
      margin-right: 0rem;
    }

    @media only screen and (max-width: 1250px) {
      font-size: 0.8rem;
      margin-top: 1rem;
      margin-left: 0;
      margin-right: 0;
    }

    @media only screen and (max-width: 1024px) {
      font-size: 0.7rem;
      margin-top: 0.5rem;
    }

    @media only screen and (max-width: 420px) {
      font-size: 1rem;
    }
  }

  &__button:hover {
    color: white;
    background-position: right;
  }
}
