.main {
  display: flex;
  color: #1f1f1f;
  flex-direction: column;
  justify-content: center;
  /*background-color: #f2ebe2;*/
  background-color: #1f1f1f;

  &__container {
    margin: 4rem auto;
    display: grid;
    /*margin: 4rem 8rem 0 8rem;*/
    grid-template-columns: 1fr 1fr /*1fr*/;
    width: 70%;

    @media only screen and (max-width: 1024px) {
      width: 85%;
    }

    @media only screen and (max-width: 800px) {
      grid-template-columns: 1fr 1fr;
      margin-top: 0;
      width: 100%;
      margin-bottom: 0;
    }

    @media only screen and (max-width: 420px) {
      grid-template-columns: 1fr;
    }
  }

  &__row {
    display: flex;
    /*width: 100%;*/
    width: 1030px;
  }

}